<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.muratoner.net1234" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="MHG.Sample.PushNotification.OneSignal.Droid">
		<meta-data android:name="onesignal_app_id" android:value="588e8af1-b8df-4490-9b95-20fc7d2a0f03" />
		<meta-data android:name="onesignal_google_project_number" android:value="str:799588154489" />
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.muratoner.net.shared.application.droid" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.onesignal.NotificationOpenedReceiver" />
		<service android:name="com.onesignal.GcmIntentService" />
		<service android:name="com.onesignal.SyncService" android:stopWithTask="false" />
		<activity android:name="com.onesignal.PermissionsActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
	</application>
</manifest>